table.table.table-bordered.table-hover.table-striped
  thead
    tr
      th Attribute 1
      th Attribute 2
  tbody.js-item-views-container
  tbody.js-fallback
    tr
      td.text-muted(colspan=2) empty
